:root {
  --barColor: #e8e6e3;
  --backgroundColor: #181a1b;
}
* {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 1.1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #e8e6e3;
  font-family: Calibre, Inter, 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;

  background-image: url('./background.png');
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  background-color: var(--backgroundColor);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--barColor);
  border-radius: 20px;
}

i {
  font-weight: 100;
  color: #e8e6e3;
  font-size: 1.25rem;
}

::selection {
  background-color: #e8e6e399;
  color: #181a1b;
}

svg path {
  stroke: var(--barColor);
}

@media only screen and (min-width: 600px) {
  .links {
    display: inline-block;
    position: relative;
    color: var(--barColor);
    font-family: monospace;
    font-size: 1.5vw;
    text-shadow: 0 0 5px var(--barColor);
    text-decoration: none;
  }
  .links:hover {
    text-decoration: underline;
  }

  header {
    min-width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    backdrop-filter: blur(10px);
  }

  header::after {
    content: '';
    display: block;
    width: 20vw;
    height: 1px;
    margin: 0px auto;
    background-color: var(--barColor);
    position: absolute;
    top: 50%;
    right: 0;
    box-shadow: 0 0 5px 1px var(--barColor);
  }
  header::before {
    content: '';
    display: block;
    width: 20vw;
    height: 1px;
    margin: 0px auto;
    background-color: var(--barColor);
    position: absolute;
    top: 50%;
    box-shadow: 0 0 5px 1px var(--barColor);
  }

  svg {
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    user-select: none;
    -webkit-filter: drop-shadow(0px 0px 2px var(--barColor));
    filter: drop-shadow(0px 0px 2px var(--barColor));
  }
  svg:hover {
    cursor: pointer;
    transform: scale(115%, 115%);
  }

  ul {
    list-style: none;
  }

  #contact {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  #contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .contact-item {
    padding: 8px;
  }
  .contact-item:hover {
    transform: translateY(-3px);
  }

  #contact-list:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    margin: 0px auto;
    background-color: #e8e6e3;
  }

  #contact-list:last-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--barColor);
    box-shadow: 0 0 5px 1px var(--barColor);
  }

  nav {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60vw;
  }

  nav ul li {
    float: right;
    display: inline;
    padding: 10px;
  }

  nav ul a {
    color: #e8e6e3;
    text-transform: capitalize;
    text-decoration: none;
  }

  nav ul a li:hover {
    transform: translateY(-2px);
  }

  nav ul a li::before {
    color: var(--barColor);
    font-family: monospace;
    text-shadow: 0 0 5px var(--barColor);
  }

  nav ul a:nth-child(1) li::before {
    content: '001 - ';
  }
  nav ul a:nth-child(2) li::before {
    content: '010 - ';
  }
  nav ul a:nth-child(4) li::before {
    content: '011 - ';
  }
  nav ul a:nth-child(5) li::before {
    content: '100 - ';
  }

  section h1 {
    text-transform: capitalize;
  }

  section h1::before {
    color: var(--barColor);
    font-family: monospace;
    text-shadow: 0 0 5px var(--barColor);
  }

  section:nth-child(2) h1::before {
    content: '001 - ';
  }
  section:nth-child(3) h1::before {
    content: '010 - ';
  }
  section:nth-child(4) h1::before {
    content: '011 - ';
  }
  section:nth-child(5) h1::before {
    content: '100 - ';
  }

  #wip {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 10px;
    background-color: #e8e6e344;
    border-radius: 5px;
    user-select: none;
    font-family: monospace;
  }

  main {
    width: 100%;
    height: 100%;
  }
  section {
    margin: 0 auto;
    width: clamp(505.5px, 80%, 1090px);
    height: 100%;
    display: grid;
    justify-items: start;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #aboude {
    grid-template-columns: 3fr 1fr;
  }

  #aboude div h1 {
    /* color: #e8e6e3; */
    font-size: 5vw;
    line-height: 1.1;
    font-weight: 600;
    margin: 0;
  }

  #aboude div h2 {
    margin-top: 10px;
    font-size: 4vw;
    line-height: 0.9;
    font-weight: 600;
  }

  #aboude div p {
    display: block;
    margin: 20px 0px 0px;
    max-width: 590px;
    line-height: 1.3;
    font-size: 1.5vw;
  }

  #img-me {
  }

  #skills #skillContain{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  #skills #skillContain div{
    border: var(--barColor) 1px solid;    
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  #projContain {
    display: flex;
  }

  card{
    margin: 10px;
    width: 20vw;
    height: 25vw;
    border-radius: 10px;
    text-align: center;
    border: var(--barColor) 2px solid;
  }

  card a{
    text-decoration: none;
    color: #e8e6e3;
    width: 10px;
  }

  card a img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height:75%;
    object-fit: cover;
  }
}
li:hover .fa-github-alt {
  color: #8f36b7;
  -webkit-filter: drop-shadow(0px 0px 2px var(--barColor));
  filter: drop-shadow(0px 0px 2px var(--barColor));
}
li:hover .fa-instagram {
  color: #bb2ba2;
  -webkit-filter: drop-shadow(0px 0px 2px var(--barColor));
  filter: drop-shadow(0px 0px 2px var(--barColor));
}
li:hover .fa-linkedin-in {
  color: #0077b5;
  -webkit-filter: drop-shadow(0px 0px 2px var(--barColor));
  filter: drop-shadow(0px 0px 2px var(--barColor));
}

li:hover .fa-envelope {
  color: #ea4335;
  -webkit-filter: drop-shadow(0px 0px 2px var(--barColor));
  filter: drop-shadow(0px 0px 2px var(--barColor));
}
