@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    backdrop-filter: blur(10px);
  }

  header svg {
    position: fixed;
    bottom: 0;
    right: 50%;
  }
}
