@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #181a1b;
  color: #e8e6e3;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ilist {
  padding: 0;
}

.ilist li {
  display: inline-block;
  padding: 8px;
  font-size: 150%;
}
.fa-github {
  color: #8f36b7;
}
.fa-instagram {
  color: #bb2ba2;
}
.fa-linkedin {
  color: #0077b5;
}

.fa-envelope {
  color: #ea4335;
}
