@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --barColor: #e8e6e3;
}
* {
  transition: all .1s ease-in-out;
}


html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #181a1b;
  color: #e8e6e3;
  font-family: 'Roboto', sans-serif;
}

i {
  font-weight: 100;
  color: #e8e6e3;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  ul {
    list-style: none;
  }

  #contact {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  #contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .contact-item {
    padding: 8px;
    font-size: 125%;
  }
  .contact-item:hover {
    transform: translateY(-3px);
  }

  #contact-list:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    margin: 0px auto;
    background-color: #e8e6e3;
  }

  #contact-list:last-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--barColor);
  }
}
li:hover .fa-github-alt {
  color: #8f36b7;
}
li:hover .fa-instagram {
  color: #bb2ba2;
}
li:hover .fa-linkedin-in {
  color: #0077b5;
}

li:hover .fa-envelope {
  color: #ea4335;
}
