@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --barColor: #e8e6e3;
  --backgroundColor: #181a1b;
}
* {
  transition: all 0.15s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--backgroundColor);
  color: #e8e6e3;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
  background-color: var(--backgroundColor);
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: #262829;
  border-radius: 20px;
}

i {
  font-weight: 100;
  color: #e8e6e3;
}

main {
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 35px;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(10px);
}

#logo text {
  fill: var(--barColor);
}

@media only screen and (min-width: 600px) {
  ul {
    list-style: none;
  }

  #contact {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  #contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  .contact-item {
    padding: 8px;
    font-size: 125%;
  }
  .contact-item:hover {
    transform: translateY(-3px);
  }

  #contact-list:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    margin: 0px auto;
    background-color: #e8e6e3;
  }

  #contact-list:last-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--barColor);
  }
}

nav {
  margin: 0 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav ul li {
  float: right;
  display: inline;
  padding: 20px;
}

nav ul a {
  color: #e8e6e3;
  text-transform: capitalize;
  text-decoration: none;
}

nav ul a li:hover {
  transform: translateY(-2px);
}

nav ul a li::before {
  color: var(--barColor);
  font-family: monospace;
}

nav ul a:nth-child(1) li::before {
  content: '001 - ';
}
nav ul a:nth-child(2) li::before {
  content: '010 - ';
}
nav ul a:nth-child(3) li::before {
  content: '011 - ';
}
nav ul a:nth-child(4) li::before {
  content: '100 - ';
}
#navli {
  padding: 0;
}
#navli::after {
  content: '';
  display: block;
  width: 90px;
  height: 1px;
  margin: 0px auto;
  background-color: var(--barColor);
  position: absolute;
  top: 50%;
}

li:hover .fa-github-alt {
  color: #8f36b7;
}
li:hover .fa-instagram {
  color: #bb2ba2;
}
li:hover .fa-linkedin-in {
  color: #0077b5;
}

li:hover .fa-envelope {
  color: #ea4335;
}
